<mat-card class="col-centered full-width">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f='ngForm' class="col-centered">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" [(ngModel)]="user.firstName" minlength="2" name="firstName"
              required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" minlength="2" name="lastName" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="user.email" minlength="4" name="email" email required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="input-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="user.password" minlength="6" type="password"
              name="password" required>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">Register </button>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
