<div class="list-spacing">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>
        {{tableHeaderMapping[column]}}
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column === 'userId'">
          <button mat-raised-button color="primary" (click)="$event.stopPropagation()"
            [routerLink]="['/user', element[column] ]">
            {{element.userEmail}}
          </button>
        </div>
        <div *ngIf="column !== 'userId'">
          {{processValue(element[column])}}
        </div>

      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">


          <mat-action-list>
            <span class="example-element-description-attribution"> Sensors </span>
            <button *ngFor="let sensor of element.sensors" mat-list-item
              [routerLink]="['/chart','device', element.id, 'sensor', sensor.label]">
              <mat-icon color="primary">{{deviceService.getIcon(sensor.label)}}</mat-icon>
              &nbsp; {{sensor.friendlyLabel}}
            </button>
          </mat-action-list>
          <span class="fill-remaining-space"></span>
          <mat-action-list *ngIf="authService.isAuthenticated() && isOwnersSensor(element)" class='table-actions'>
            <span class="example-element-description-attribution"> Device Actions </span>
            <div>
              <button mat-raised-button color="primary" [routerLink]="['/devices',element.id, 'edit']">Edit</button>
              <button mat-raised-button color="warn" (click)="onDelete(element)">Delete</button>
            </div>
          </mat-action-list>


        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
<button *ngIf="authService.isAuthenticated()" mat-raised-button color="accent" class="element-offset" [routerLink]="['/devices','new']">New Device</button>
